* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* height: 100%;
  width: 100%; */
  background-image: linear-gradient(to right, #9b59e4, #f63939);
}

/* body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */